@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.font-roboto-medium {
  font-size: 16px;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.grid-body {
  display: grid;
  grid-template-areas:
    "sidebar sidebar sidebar sidebar"
    "filter filter filter filter"
    "main main main main"
    "footer footer footer footer";
  min-height: 100vh;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: auto 1fr;
}

@media (max-width: 576px) {
  .d-none {
    display: none !important;
  }

  .mt-15 {
    margin-top: 15px;
  }

  .mb-15 {
    margin-bottom: 15px;
  }

  .filter-sidebar {
    justify-content: flex-start !important;
  }

  .father-sidebar-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .ml-filter-sidebar {
    margin-left: 15px;
  }

  .mr-filter-sidebar {
    margin-right: 15px;
  }

  .footer-father-principal {
    gap: 5px;
  }

  .button-card {
    margin-bottom: 15px;
  }

  .grid-main {
    grid-template-columns: auto;
    min-height: 375px;
  }

  .father-paginator {
    margin-bottom: 20px;
  }
}

@media (min-width: 576px) {
  .grid-body {
    grid-template-areas:
      "sidebar filter filter filter"
      "sidebar main main main"
      "footer main main main";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr;
  }

  .d-icon-bars {
    display: none;
  }

  .footer-father-principal {
    gap: 15px;
  }

  .mt-10 {
    margin-top: 10px;
  }

  .mb-10 {
    margin-bottom: 10px;
  }

  .footer-desktop {
    max-width: 210px;
    text-align: center;
  }

  .button-card {
    margin-bottom: 25px;
  }

  .grid-main {
    grid-template-columns: auto auto auto auto;
    max-height: 490px;
    overflow-y: scroll;
  }
}

.sect-filter {
  grid-area: filter;
  background-color: #e1e2e1;
}

.sect-sidebar {
  grid-area: sidebar;
  color: white;
  background-color: #235696;
}

.categories-father {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.sect-main {
  grid-area: main;
}

.grid-main {
  display: grid;
  column-gap: 25px;
  row-gap: 10px;
  padding: 10px;
}

.sect-footer {
  grid-area: footer;
  align-content: center;
  color: white;
  background-color: #102e68;
}

.mt-mb-sidebar {
  margin-top: 18px;
  margin-bottom: 23px;
}

.mt-categories {
  margin-top: 10px;
}

.filter-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.font-filter-sidebar {
  font-size: 17px;
  font-style: normal;
}

li {
  list-style: none;
}

.filter-father-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.footer-father-principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.text-weight-footer {
  font-weight: 500;
}

.mt-filter {
  margin-top: 10px;
}

.mb-filter {
  margin-bottom: 10px;
}

.combobox-filter {
  width: 85%;
  height: 30px;
  border: none;
  border-radius: 3px;
  color: #6b7170;
}

.card-product {
  max-height: 217px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 rgba(20, 20, 20, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card-car {
  width: 150px;
  height: 120px;
}

.padding-t {
  padding-top: 1em;
}

.button-card {
  width: 90px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #235696;
  cursor: pointer;
}

.father-paginator {
  text-align: -webkit-center;
  margin-top: 10px;
}

.paginator {
  border: 1px solid #bcbcbc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #336df2;
  border-radius: 4px;
  max-width: 155px;
}

.basic-paginator {
  height: 30px;
  width: 30px;
  align-content: center;
}

.number-paginator {
  border-left: 1px solid #bcbcbc;
}
